.Ltitle1{
    color: #252B5F;
    font-size: 25px;
}

.title2{
    font-size: 20px;
    color: #666;
}

.input-box{
    border: 2px solid #9e9797;
    width: 255px;
    border-radius: 12px;
    position: relative;
    padding-left: 0px;
    display: block;
}

.active-input-box{
    border: 2px solid #252B5F;
    width: 255px;
    border-radius: 12px;
    position: relative;
    padding-left: 0px;
    display: block;

}

input{
    padding: 10px 0;
    outline: none;
    border: none;
    width: 200px;
}

.eyeslash-icon{
    position: absolute;
    color: #666;
}


.reset-text{
    font-size: 12px;
}

.forgot {
    color: #666;
}

.reset{
    color: #252B5F;
}

.login-btn{
    background-color: #272A62;
    color: #fff;
    border-radius: 16px;
    width: 147px;
}



@media (min-width:768px) {

     .Ltitle1 {
        margin-left: -165px;
    }

    .title2{
        margin-left: -225px;

    } 


.reset-text{
    margin-left: 0;
}

.login-btn{
    margin-left: -150px;
    border-radius: 22px;

}


.input-box{
    width: 300px;
}

.active-input-box{
    width: 300px;
}

input{
    padding: 10px 0;
    outline: none;
    border: none;
    width: 245px;
}

}


@media (min-width:992px) {
    
    .Ltitle1 {
        margin-left: -360px;
    }
 
    .title2{
        margin-left: -420px;
 
    } 

    .login-btn{
        margin-left: -350px;
        border-radius: 32px;
        
    }

    input{
        width: 365px;
    }
 
}