.btn{
    border: 1px solid #6a6a6a;
    padding: 10px 5px;
    color: aliceblue;
    background-color: brown;
    padding: 30px 20px;
    cursor: pointer;
}

.BTN-container{
    position: absolute;
    margin-top: -700px;
    z-index: 2;
}

.q-text{
    position: absolute;
    margin-top: -750px;
}