.sidebar{
    width: 35vw;
    height: 100vh;
    background-color: #EFEAEA;
}

.SidebarList{
    height: auto;
    width: 100%;
}

.SidebarList .row{
    width: 96%;
    height: 62px;
}

.SidebarList .row:hover{
    cursor: pointer;
    border: 1px solid #252B5F;
    border-radius: 12px;
}

.active-link{
    border: 1px solid #252B5F;
    border-radius: 12px;
}

.row .icon{
    flex:30%;
    display:grid;
    place-items: center;
}

.row .title{
    flex: 70%;
    font-size: 18px;
    color: #666;
}

.row{
    overflow-y: hidden;
}


@media (min-width:768px) {
    .sidebar{
        width: 60vw;
    }
}


@media (min-width:1200px) {
    .sidebar{
        width: 17vw;
    }
}