.sidebar{
    width: 50vw;
    height: 100vh;
    background-color: #EFEAEA;
    animation: slideIn 0.5s;
}

.shadow{
    background-color: #00000090;
    animation:fadeIn 0.5s;
}

.fadeShadow{
    background-color: #00000090;
    animation:fadeOut 0.5s;
}

.slideout{
    animation: slideOut 0.5s;
}

.selected{
    border: 2px solid #252B5F;
    border-radius: 12px;
    padding: 15px 5px;
}

@keyframes slideIn {
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0);
    }
}


@keyframes slideOut {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-100%);
    }
}


@keyframes fadeIn {
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }

    100%{
        opacity: 1;
    }
}



@keyframes fadeOut {
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0.5;
    }

    100%{
        opacity: 0;
    }
}

@media (min-width:640px) {
    .sidebar{
        width: 40vw;
    }
}

@media (min-width:768px) {
    .sidebar{
        width: 20vw;
    }
}