.dashboard{
    width: 100vw;
    height: 100vh;
}

.small-title-container{
    background-color: #EFEAEA;

}

.lecture-rooms{
    background-color: #E7AD29;
}

.courses{
    background-color: #CC8383;
    height: 180px;
}

.lecturers{
    background-color: #7A75C1;
    height: 180px;
}

.classes{
    background-color: #A9A130;
    height: 180px;
}

.generate-timetable-modal-shadow{
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #00000090;
    position: absolute;
}


.generate-timetable-modal{
    width: auto;
    z-index: 2;
    position: absolute;
    margin-top: 10vh;
    left: 40%;
}

#time-table-name{
    border: 1px solid black;
    padding: 20px;
    width: 370px;
}

#semester{
    padding: 20px;
    width: 370px;
    background: inherit;
    border: 1px solid black;

}

.day-box{
    width: 20px;
    
} 


.cancel{
background-color: red;
}

.generate{
background-color: #252B5F;
}

.modal-title{
    background-image: linear-gradient(to right, #252B5F,  #A39577);
}

.modal-body{
    background-color: #D9D9D9;
    height: 68vh;
}

.number {
    overflow-y: hidden;
}


/* timetable style */

.timetable-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .timetable-table th,
  .timetable-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .timetable-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .timetable-table td {
    background-color: #ffffff;
  }
  
  .timetable-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .timetable-table tr:hover {
    background-color: #eaeaea;
  }
  
  .semester-timetable {
    margin-bottom: 40px;
  }
  
  .class-timetable h3 {
    margin-bottom: 10px;
  }
  