.Coursesavailable{
    height: 100vh;
    width: 100vw;
}

.search-container{
    border: 1px solid #b4afaf;
}


.search-icon{
    color: #b4afaf;
}

.search-input{
    color: black;
}


.add-room{
    background-color: #C9AF88;
}


.modal-shadow{
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #00000090;
    position: absolute;
}

.add-course-modal{
    width: auto;
    z-index: 2;
    position: absolute;
    margin-top: 10vh;
    left: 40%;
}

.add-course-modal-title{
    background-image: linear-gradient(to right, #252B5F,  #A39577);
}

.modal-body{
    background-color: #D9D9D9;
    height: auto;
}

.course-input{
    border: 1px solid black;
    padding: 20px;
    width: 370px;
}
